#blur {
    display: none;
    color: rgb(0, 0, 0, 0.8);
}

#login {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    letter-spacing: 1.5px;
} 

.header {
    box-shadow: 2px 2px 2px #4a5f40;;
    color: white;
    background-color: #7DA16C;
  }
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  
  .navbar {
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

    a :hover {
    font-size: 50px;
    font-weight: 600;
    color: tomato;
  }
  
  .logo {
      width: 60px;
      float: left;
  }

  button {
      background-color: #7DA16C;
      border: 2px solid white;
      width: 200px;
      height: 50px;
      align-self: center;
  }

  .banner-img{
      width: 100vw;
      height: 90vh;
  }

  #curiosity {
      display: flex;
  }

 .box {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 33%;
  }

  .box img {
    width: 85%;
    align-self: center;
  }