#blur {
  display: none;
  color: rgb(0, 0, 0, 0.8);
}

#login {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  letter-spacing: 1.5px;
  font-family: "Cinzel", serif;
}

.header {
  box-shadow: 2px 2px 2px #4a5f40;
  color: white;
  background-color: #7da16c;
  height: 80px;
  width: 100vw;
  position: relative;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  list-style: none;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5% 0 0 15%;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

li :hover {
  font-size: 20px;
  font-weight: 600;
  color: #9b5134;
}

.logo {
  width: 100px;
  float: left;
}
.logo-div {
  position: absolute;
  margin-left: 8%;
}

.container {
  width: 100vw;
  position: fixed;
  z-index: 2;
}

button {
  background-color: #7da16c;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  align-self: center;
  margin: 1% 10% 0 0;
  font-size: 15px;
  letter-spacing: 1.5px;
}

button :hover {
  color: #9b5134;
}

.banner-img {
  width: 110vw;
  height: 99.5vh;
}

.text-banner {
  color: #9b5134;
  margin: -30% 0 18% 40%;
  font-size: 50px;
  font-family: "Courgette", cursive;
}

.title-article {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin: 3% 15%;
}

.image-plant {
  width: 374px;
  margin-left: 20%;
}

.detail-article {
  background-color: rgb(155, 81, 52, 0.8);
  width: 287px;
  height: 312px;
  margin: -75% 0 0 50%;
  float: left;
  position: relative;
}
.daily-article {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.content-article {
  letter-spacing: 1.5px;
  margin: -1% 5% 0 15%
}

p {
  text-align: justify;
}

.container-article {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.emphasis {
  background-color: rgb(151, 98, 77);
  padding: 2px;
  text-align: center;
}

.upper {
  font-size: 30px;
}

.button-article {
  border: 4px solid #7da16c;
  background-color: white;
  width: 500px;
  margin-left: 5%;
}

.button-text {
  color: #7da16c;
}

#curiosity {
  display: flex;
}

.flip-1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: flex;
  margin: 8.5% 0 0 26%;
}
.flip-2 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: flex;
  margin: 8% 5%;
}
.flip-3 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: flex;
  margin: 8% 33% 0 0;
}

.container-box-flip {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-evenly;
}

.flip-1:hover .container-box-flip {
  transform: rotateY(180deg);
}
.flip-2:hover .container-box-flip {
  transform: rotateY(180deg);
}
.flip-3:hover .container-box-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.card-front {
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back p {
  background-color: #9b5134;
  color: white;
  padding: 10%;
  width: 250px;
  height: 370px;
  margin-top: 200px;
  font-size: 15px;
}

.title-card {
  font-weight: 800;
  margin: -80% 0 0 50%;
  width: 70%;
  margin-left: 5%;
  color: white;
  border-radius: 100%;
  margin-left: 20%;
  padding-right: -50px;
}

.title-card-3 {
  margin-left: 30%;
}

.title-card-1 {
  margin-left: 10%;
}
#about {
  display: flex;
  margin-top: 15%;
  width: 90vw;
  margin-left: 5%;
  justify-content: space-between;
}

.image-about {
  margin: 0 10%;
  width: 450px;
}

.content-about {
  margin: 2% 5%;
  width: 80%;
}

.phrase{
  background-color: rgb(155, 81, 52, 0.8);
  margin: -5% 0 0 40%;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  width: 400px;
  padding: 2%;
  position: absolute;
}

#footer {
  background-color: #7da16c;

  margin: 0 auto;
  color: #ffffff;
  font-weight: 800;
height: 100px;
  justify-content: center;
  padding: 5px;
  margin-top: 10%;
  width: 110%;

  
}

#footer p {
  text-align: center;
  margin-top: 1%;
}

::-webkit-scrollbar {
  box-shadow: 2px 2px 2px grey;
}

::-webkit-scrollbar-thumb {
  background-color: teal;

} 

::-webkit-scrollbar-track {
  background-color: lightblue;

}

.blur {
  background-color: rgb(34, 34, 34,0.8);
  position: absolute;
  z-index: 3;
}