#blur_div {
  display: none;
  background-color: rgb(0, 0, 0, 0.8);
  width: 110vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 7%;
  margin-top: -6%;
}

#login_div {
  display: none;
  background-color:  white;
  padding: 5%;
  width: 30%;
  margin-left: 19%;
}

#blur_div_cadastro {
  display: none;
  background-color: rgb(0, 0, 0, 0.8);
  width: 110vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 0.5%;
  margin-top: -1%;
}

#cadastro_div {
  display: none;
  background-color:  white;
  padding: 3%;
  width: 30%;
  margin-left: 25%;
}
select {
  border: 2px solid #9b5134;
  font-family: "Cinzel", serif;
  font-weight: 600;

}

.close {
  margin: -10% 0 4% 105% ;
  font-size: 25px;
}

.close:hover {
  color: #9b5134;
  font-weight: 600;
  cursor: pointer;
}

.login_input {
  width: 88%;
  outline: none;
  border: none;
  border-bottom: 2px solid #9b5134;
  margin: 3% 0;
  font-family: "Cinzel", serif;

}
.div_perfil {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.login_select_gender{
  width: 200px;
}

.age {
  width: 150px;
}

.gender_data {
  margin-right: 11%;
}
.check_input{
  margin: 2% 0;
}

.welcome {
  margin: 5% 0 0 25%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  letter-spacing: 1.5px;
  font-family: "Cinzel", serif;
}

::-webkit-scrollbar {
  box-shadow: 2px 2px 2px #808080;
}

::-webkit-scrollbar-thumb {
  background-color: #008080;

} 

::-webkit-scrollbar-track {
  background-color: #add8e6;
}

.upper {
  font-size: 30px;
}

.header {
  box-shadow: 2px 2px 2px #4a5f40;
  color: #ffffff;
  background-color: #7da16c;
  height: 80px;
  width: 100vw;
  position: relative;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.navbar {
  display: flex;
  list-style: none;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5% 0 0 15%;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 600;
}
.login {
  margin: 1.5% -4% 0 0%;
  border: none;
}

li :hover {
  font-size: 20px;
  font-weight: 600;
  color: #9b5134;
  cursor: pointer;
}

.logo {
  width: 100px;
  float: left;
}
.logo-div {
  position: absolute;
  margin-left: 8%;
}

button {
  background-color: #7da16c;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  align-self: center;
  margin: 1% 10% 0 0;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

button:hover {
  color: #9b5134;
  cursor: pointer;
}


.title-article {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin: 7% 0 2% 20%;
}

.image-plant {
  width: 374px;
  margin-left: 10%;
}


.space {
  height: 20%;
  margin-bottom: 5%;
}

.detail-article {
  background-color: rgb(155, 81, 52, 0.8);
  width: 287px;
  height: 312px;
  margin: -75% 0 0 50%;
  float: left;
  position: relative;
}


.content-article {
  letter-spacing: 1.5px;
  margin: -1% 5% 0 15%
}

p {
  text-align: justify;
}

.container-article {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.container-image-plant-2 {
  margin: 68.5% 70% 0 -33%;
  display: flex;
  flex-direction: column;
  float: left;
}

.image-plant-2{
  width: 800px;
}

.detail-article2 {
  background-color: rgb(155, 81, 52, 0.8);
  color: rgb(155, 81, 52, 0.8);
  width: 587px;
  height: 117px;
  margin: -8% 55% 0 -10%;
  float: left;
  position: relative;
  text-align: center;
}

.benefits {
  display: flex;
  padding: 0 5%;
}

.up {
  margin: 5% 5%;
}

.down {
  height: 700px;
  margin: 5% 0;
}

.box {
  background-color:#bddaaf ;
  padding: 5%;
  width: 400px;
  margin-bottom: 4%;
}

.title-benefits {
  color: #9b5134;
  font-size: 25px;
}

.rate {
  margin: 6% 10%;
}

.rate p {
  text-align:left
}

.icon-like{
  width: 30px;
  cursor: pointer;
}

.small {
  font-size: 12px;
  display: none;
}

.old-articles {
 margin: 5%;
text-align: center;
}

.articles {
  display: flex;
}

.box-article{
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  background: #e2dddd;
  box-shadow: 2px 2px 3px rgb(88, 88, 88);
  width: 300px;
}

.box-article img{
  width: 100%
}

.box-article a {
  color: #9b5134;
}

#footer {
  background-color: #7da16c;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 800;
  height: 100px;
  justify-content: center;
  padding: 5px;
  margin-top: 10%;
  width: 110%;
}

#footer p {
  text-align: center;
  margin-top: 1%;
}