body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

#blur_div_cadastro {
  display: none;
  background-color: rgb(0, 0, 0, 0.8);
  width: 110vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 7%;
  margin-top: -52%;
}
.photo img {
  width: 80%;
}
.icons-menu {
  width: 100%;
  margin-bottom: 100%;
  cursor: pointer;
}
.close {
  margin: -10% 0 4% 105%;
  font-size: 25px;
}

.close:hover {
  color: #9b5134;
  font-weight: 600;
  cursor: pointer;
}
#cadastro_div {
  display: none;
  background-color: white;
  padding: 3%;
  width: 30%;
  margin-left: 25%;
}

.menu {
  background-color: #7da16c;
  width: 5%;
  height: 100vh;
  margin-top: 0;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  width: 150%;
  margin-left: 15%;
}

ul {
  text-decoration: none;
  list-style: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  box-shadow: 3px 3px 3px darkslategrey;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

li {
  margin-bottom: 50%;
  background-color: white;
  border-radius: 50%;
  width: 150%;
  align-items: center;
  padding: 50%;
  height: 50px;
}

a {
  text-decoration: none;
}

.motive-title {
  margin: -15% 0 0 7%;
  position: absolute;
}

#other {
  visibility: hidden;
  margin: 0 auto;
  height: 30px;
  margin-top: -10%;
}
.buttons-cancel {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

#confirm_title{
  visibility: hidden;
}

#confirm_cancel_input{
  margin-left: 0.5%;
  visibility: hidden;
}

#olho_aberto_cancelar,#olho_fechado_cancelar  {
visibility: hidden;
}

#motive_cancel {
  width: 330px;
  position: absolute;
  margin: -10% 0 0 3%;
}

#show_button {
  width: 60%;
  margin: 0 auto;
  visibility: hidden;
  margin-top: 5%;
}

.profile {
  background-image: url(../imgs/bg-profile.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.container-profile {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 17%;
}

.user-profile {
  background-color: white;
  width: 500px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px darkslategrey;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plant {
  background-color: white;
  width: 400px;
  justify-content: center;
  height: 250px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px darkslategrey;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
}

.preferences {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}

.photo-profile{
  border-radius: 50%;
}
.photo-profile-div {
  background-color: grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.profile-content,
.buttons,
#show_password,
#show_email {
  margin: 0 auto;
}

input {
  width: 88%;
  outline: none;
  border: none;
  border-bottom: 2px solid #9b5134;
  margin: 2% 0;
  font-family: "Cinzel", serif;
}
label {
  font-size: 13px;
}

#show_password,
#show_email,
.photo-profile {
  display: none;
}

button {
  background-color: #7da16c;
  outline: none;
  color: white;
  border: none;
  width: 100%;
  margin-right: 3%;
  padding: 4%;
  cursor: pointer;
  font-family: "Cinzel", serif;
}

button:hover {
  color: #9b5134;
}

.buttons {
  width: 50%;
  display: flex;
}

.photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

select {
  border: 3px solid #9b5134;
  background-color: white;
  width: 100px;
  margin-top: 10%;
  font-size: 12px;
  font-family: "Cinzel", serif;
  font-weight: 600;
  outline: none;
}

.olho_aberto {
  width: 25px;
  cursor: pointer;
  float: right;
  z-index: 3;
  position: absolute;
  margin-left: -2%;
}

.olho_fechado {
  visibility: hidden;
  width: 25px;
  cursor: pointer;
  float: right;
  z-index: 3;
  position: absolute;
  margin-left: -2%;
}

#h1_login_usuario {
  margin-left: 15%;
}
