body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    background-color: #7da16c;
    width: 5%;
    height: 110vh;
    margin-top: 0;
    position: absolute;
}

.logo {
    width: 170%;
}

ul {
    text-decoration: none;
    list-style: none;
   
}

a {
    text-decoration: none;
    
}

.profile {
    background-image: url(../imgs/bg-profille.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    }

.container-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 17%;
    
}

.user-profile {
    background-color: white;
    width: 500px;
    justify-content: center;
    height: 550px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px darkslategrey;
}


.plant {
    background-color: white;
    width: 400px;
    justify-content: center;
    height: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px darkslategrey;
}

.preferences {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
}